*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
    background-color: rgb(19, 18, 18);
    /* color: white; */
    font-family: sans-serif;
}
header{
    background-color: black;
    height: 80px;
    font-size: 2rem;
    border-bottom: 1px solid white;
}
.navbar{
     display: flex; 
     justify-content: center;
     align-items: center;
     justify-content: space-between;

}
.logo{
    height: 58px;
    width: 173px;
    margin-left: 20px;
}

.navbar ul a{
    text-decoration: none;
    color: white;
    font-size: 22px;
}
.navbar ul{
    display: flex;
    gap: 2rem;
    margin-right: 40px;
}
.navbar ul li{
    list-style: none;
}
#abt{
    text-decoration: underline;
    color:rgb(124, 224, 116); 
    
}
.navbar ul a:hover{
    text-decoration: underline;
    color:rgb(124, 224, 116);  
}
.headimg{
    height: 345px;
    width: 585px;
    margin-left: 50px;
    margin-top: 60px;
}
.head{
    margin: 10px 60px;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 25px;
    color:white;
    
}
.card{
    background-color:white ;
    color: black;
    height: 400px;
    width: 500px;
    border: 1px solid white;
    float: right;
    margin: 60px 60px;
    padding: 30px;
    line-height: 23px;
    border: 1px solid white;
    border-radius: 15px;
}
.img_card{
    height: 225px;
    width: 440px;
    border: 1px solid white;
    border-radius: 20px;

}
.card_head{
    margin-top:10px ;
}
.topic_head{
    margin: 35px 50px;
    line-height: 20px;
    color: white;
}
.topic{
    margin-bottom: 10px;
    color: rgb(235, 123, 123);
    font-size: 20px ;
}
.About{
    margin-left:45px ;
    margin-top: 50px;
    color: white;
}
footer {
    background-color: black;
    width: 100%;
}

.panel2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 30px;
    margin-right: 30px;
    gap: 20px;
}

.footer-container {
    display: flex;
    flex-direction: column;
    background-color: black;
    height: 100%;
}

.spt-logo {
    margin-bottom: 10px;
}

.spt-logo>img {
    width: 200px;
    padding: 15px 15px;
    margin:0px  515px;

}

.foot {
    /* height: 40vh; */
    background-color: black;
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 90px;
    margin-bottom: auto;
}

.company {
    margin-bottom: auto;
}

ul {
    list-style: none;
    text-align: left;
}

ul li {
    list-style-type: none;
    cursor: pointer;
    color: rgb(147, 140, 140);
    margin-top: 15px;
}

.main-head {
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Bitter', serif;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bolder;
    pointer-events: none;
}

.icon_border {
    border: 0.5px solid black;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(168, 164, 164, 0.5);
    margin: 9px 9px;
}

.icon_border :hover {
    transform: scale(1.2);
    transition: ease 0.5s;
    border-radius: 100%;
    background-color: rgb(221, 68, 41);
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-bottom: auto;
}

.social-icons img {
    width: 25px;
    height: 25px;
    padding: 5px 5px;
    margin: 4px 4px;
    color: white;
}

.social-icons i {
    color: white;
    font-size: 3rem;
    padding: 5px 5px;
    margin: 4px 4px;
}

.social-icons i:hover {
    color: rgba(255, 255, 255, 0.500);
}

.panel3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel3 p {
    color: white;
}

