*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
html{
    font-family: CircularSpTitle, CircularSpTitle-Tall, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, sans-serif;
}
header{
    background-color: #000;
    padding: 30px 0px 30px 51px;
}

header .logo img{
    width: 120px;
}

section{
    background: linear-gradient(rgba(11,1,1,0.9)0%,rgb(0,0,0)100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.main{
    margin: 32px 0;
    padding: 32px;
    width: 734px;
    height: inherit;
    background-color: #000;
    border-radius: 5px;

}
.main h1{
    text-align: center;
    margin: 48px 0;
    color: white;
    font-size: 48px;
}

.main .account-connect{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.main .account-connect button{
    width: 324px;
    text-align: center;
    padding: 10px 20px;
    border: none;
    margin: 5px 0;
    border-radius: 500px;
    color: white;
    background:transparent;
    border: 1px solid #878787;
    font-size: 15px;
    font-weight: bold;
}
.main .account-connect button img{
    width: 23px;
    float: left;
    margin: 0 10px;
}
.main .account-connect button span{
    position: relative;
    top: 3px;
}
.main hr{
    margin: 32px 100px;
    border-right: none;
    border-bottom: none;
    border-left: none;
    border-image: initial;
    border-top: 1px solid rgb(41,41,41) ;
}

.main .log-in{
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    font-weight: bold;
}
.main .log-in form label{
    color: white;
    font-size: 14px;
    margin-bottom: 8px;
    display: inline-block;
}
.main .log-in form input{
    display: block;
    padding: 14px;
    width: 324px;
    margin-bottom: 15px;
    font-weight: 500;
    background: rgb(18,18,18);
    outline: none;
    border: none;
    appearance: none;
    border-radius: 4px;
    box-shadow: inset 0 0 0 1px #878787;
    color: white;
}

.switch{
    margin: 0;
    padding: 0;
}
.switch input[type=checked]{
    height: 0;
    width: 0;
    visibility: hidden ;
}
.switch label{
    margin: 10px 0px 20px 0px;
    cursor: pointer;
    padding: 3px;
    width: 32px;
    height: 16px;
    background: #727272;
    display: block;
    border-radius: 50em;
    position: relative;
    transition: .1s;
    box-sizing: border-box;
}
.switch label::after{
    content: ' ';
    position:absolute;
    width: 11px;
    height: 10px;
    background-color: #000;
    border-radius: 50em;
    transition: .1s;
}
.switch input:active+label{
    background-color: #727272;
}
.switch input:checked+label{
    background-color: #1ed760;
}
.switch input:checked+label::after{
    transform: translateX(calc(100% + 5px));
}

input#switch{
    display: none;
}
.switch span{
    color: white;
    font-size: 13px;
    font-weight: 400;
    position: relative;
    left: 7px;
    bottom: 11px;
}
.main .log-in button{
    background-color: #1ed760;
    border-radius: 30px;
    font-weight: bold;
    padding: 8px 32px;
    height: 48px;
    width: 324px;
    letter-spacing:  .4px;
    font-size: 16px;
    margin: 20px 0s;

}
.main .log-in a{
    display: block;
    text-align: center;
    color: white;
    font-weight: 400;
    text-decoration: underline;
}