@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&family=Raleway&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&family=Raleway&family=Ubuntu&family=Varela+Round&display=swap');

body {
    background-color: antiquewhite;
}

* {
    margin: 0;
    padding: 0;
}

nav {
    font-family: 'Ubuntu', sans-serif;
    /* use this to make full navbar curser pointer to use it un-comment it */
    /* cursor: pointer;  */

}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}

nav ul li {
    padding: 0 12px;
    /* use this to make li with logo in  navbar curser pointer to use it un-comment it */
    /* cursor: pointer; */
}

nav ul div li {
    /* I use div approch */
    padding: 0 12px;
    cursor: pointer;

}

.brand img {
    width: 54px;
    padding: 0 10px;

}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.5rem;
}

.container {
    min-height: 71vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    width: 70%;
    margin: 25px auto;
    border-radius: 15px;
    padding: 33px;
    background-image: url(bg.jpg);
}

.bottom {
    position: sticky;
    height: 130px;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icon {
    margin-top: 15px;
}

.icon i {
    cursor: pointer;
}

#myProgressbar {
    width: 80vw;
    cursor: pointer;

}

.songItemConatiner {
    margin-top: 74px;
}

.songItem {
    height: 50px;
    display: flex;
    background-color: white;
    color: black;
    margin: 13px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 35px;

}

.songItem img {
    width: 43px;
    margin: 0 23px;
    border-radius: 32px;

}

.timestamp {
    margin: 0 23px;
}

.timestamp i {
    cursor: pointer;
}

.songInfo {
    position: relative;
    left: 10vw;

    font-family: 'Varela Round', sans-serif;

}

.songInfo img {
    opacity: 0;
    transition: opacity 0.4s ease-in;
}

@media only screen and (max-width: 1100px) {
    body {
        background-color: red;
    }
}