@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&family=Raleway&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&family=Raleway&family=Ubuntu&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bitter:wght@600&family=Nunito+Sans:opsz,wght@6..12,600&display=swap');

body {
    background-color: rgba(17, 17, 17, 1);
}

* {
    margin: 0;
    padding: 0;
}

nav {
    font-family: 'Ubuntu', sans-serif;
    /* use this to make full navbar curser pointer to use it un-comment it */
    /* cursor: pointer;  */
    width: 100%;

}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}

nav ul li {
    padding: 0 12px;
    /* use this to make li with logo in  navbar curser pointer to use it un-comment it */
    /* cursor: pointer; */
}

nav ul div li {
    /* I use div approch */
    padding: 0 12px;
    cursor: pointer;

}


.brand:last-child {
    margin-left: auto;
}

nav li:last-child {
    margin-left: auto;
}

.brand img {
    width: 54px;
    padding: 0 10px;

}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.5rem;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 300px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.2);
    color: black;
    backdrop-filter: blur(20px);
    box-shadow: -10px 0 10ox rgba(0, 0, 0, 0, 1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.sidebar li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    width: 100%;
    height: 65px;
    font-weight: bolder;
    font-size: 1.5rem;
    position: relative;
    cursor: pointer;
    color: black;
}

.sidebar li:hover {
    text-decoration: none;
}


.close-menu {
    justify-content: center !important;
    align-items: flex-end !important;
    position: absolute !important;
    right: 0 !important;
    top: 0 !important;
    margin-top: 3px !important;
}

.homelink1 {
    color: rgb(147, 140, 140);
}

.homelink1:hover {
    color: white;
}

.homelink2 {
    text-decoration: none;
    color: rgb(147, 140, 140);
}

.sidebar .loginlink {
    text-decoration: none;
    color: black;
}

.loginlink:hover {
    color: white;
}

.homelink2:hover {
    color: white;
}

.menu {
    cursor: pointer;
    display: none;
}

#menu-icon {
    color: white;
    font-size: 48px;
}

#menu-icon-close {
    color: white;
    font-size: 48px;
}


@media(max-width:667px) {
    .hideonmobile {
        display: none;

    }

    .menu {
        display: block;
    }
}


.hover_effect:hover {
    color: white !important;
    text-decoration: underline !important;
}

.container {
    min-height: 71vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    width: 70%;
    margin: 25px auto;
    border-radius: 15px;
    padding: 33px;
    background-image: url(bg.jpg);
}

.bottom {
    position: sticky;
    height: 130px;
    background-color: black;
    color: white;
    bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.62);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.1px);
    -webkit-backdrop-filter: blur(8.1px);
    border: 1px solid rgba(0, 0, 0, 0.52);
    width: 90%;
    margin: auto;
}

.icon {
    margin-top: 15px;
}

.icon i {
    cursor: pointer;
}

#myProgressBar {
    width: 80vw;
    cursor: pointer;
    accent-color: #1ed760;

}

#masterSongName {
    padding-left: 10px;
}

.songItemConatiner {
    margin-top: 74px;
}

.songItem {
    height: 50px;
    display: flex;
    background-color: white;
    color: black;
    margin: 13px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 35px;
    cursor: pointer;

}

.songItem.currentSongItem {
    background: rgba(0, 0, 0, 0.62);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.1px);
    -webkit-backdrop-filter: blur(8.1px);
    border: 1px solid rgba(0, 0, 0, 0.52);
    color: #ffffff;
    text-shadow: 0 0 20px #ffffff;
    -webkit-text-stroke-width: thin;
}

.songItem img {
    width: 43px;
    margin: 0 23px 0 5px;
    border-radius: 32px;

}

.timestamp {
    margin: 0 23px;
}

.timestamp i {
    cursor: pointer;
}

.songItemPlay {
    pointer-events: none;
}

.songInfo {
    position: relative;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
    position: relative;

    font-family: 'Varela Round', sans-serif;

}

.songInfo>div {
    display: flex;
    align-items: center;
}

body {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    text-align: center;
    position: relative;
}



.songInfo img {
    opacity: 0;
    transition: opacity 0.4s ease-in;

}

#myProgressBar {
    width: 60%;
}



.arijit-details {
    display: flex;
    /* width: 75%; */
    height: 100%;
    background-color: rgba(17, 17, 17, 1);
    border-radius: 20px;
    justify-content: space-evenly;
    align-items: center;
    /* background-image: url('./covers/a-singh.jpg'); */
    background-size: cover;

}

h1 {
    display: flex;
    flex-direction: column;
    font-family: 'Ubuntu', sans-serif;
    font-size: 3rem;
    color: azure;
    text-decoration: underline;

}

.arijit-about>p {
    color: azure;
    font-size: 1.2rem;
    text-align: left;
    padding: 20px 20px;
    margin: 10px 10px;
}



.arijit-packet {
    width: 500px;
    border-radius: 20px;
}

.arijit-pic {
    height: max-content;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 3rem 0;
}


/*  */
.myCard {
    background-color: transparent;
    width: max-content;
    height: max-content;
    perspective: 1000px;
}

.title {
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;
}

.innerCard {
    position: relative;
    width: 502px;
    height: 502px;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    cursor: pointer;
}

.myCard:hover .innerCard {
    transform: rotateY(180deg);
}

.frontSide,
.backSide {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 1rem;
    color: white;
    box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5);
    font-weight: 700;
}

.frontSide>img {
    height: 500px;
    width: max-content;
    border-radius: 1rem;
}

.frontSide,
.frontSide::before {
    background: linear-gradient(43deg, rgb(65, 88, 208) 0%, rgb(30 215 96) 46%, rgb(255, 204, 112) 100%);
}

.backSide,
.backSide::before {
    background-image: linear-gradient(160deg, #80c019 0%, #1ed760 100%);
}


.backSide {
    transform: rotateY(180deg);
}

.backSide>p {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 2rem;
    box-sizing: border-box;
    text-align: start;
    font-size: 1.2rem;
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.3;
}

.frontSide::before,
.backSide::before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '';
    width: 110%;
    height: 110%;
    position: absolute;
    z-index: -1;
    border-radius: 1em;
    filter: blur(20px);
    animation: animate 5s linear infinite;
}

.frontSide::before {
    width: 100%;
    height: 100%;
}

.backSide::before {
    width: 105%;
    height: 105%;
}

@keyframes animate {
    0% {
        opacity: 0.3;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0.3;
    }
}


/*  */



footer {
    background-color: black;
    width: 100%;
}

.panel2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 30px;
    margin-right: 30px;
    gap: 20px;
}

.footer-container {
    display: flex;
    flex-direction: column;
    background-color: black;
    height: 100%;
}

.spt-logo {
    margin-bottom: 10px;
}

.spt-logo>img {
    width: 200px;
    padding: 15px 15px;
    margin-left: 20px;
}

.foot {
    /* height: 40vh; */
    background-color: black;
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 90px;
    margin-bottom: auto;
}

.company {
    margin-bottom: auto;
}

ul {
    list-style: none;
    text-align: left;
}

ul li {
    list-style-type: none;
    cursor: pointer;
    color: rgb(147, 140, 140);
    margin-top: 15px;
}

ul li:hover {
    color: white;
    text-decoration: underline;
}

.main-head {
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Bitter', serif;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bolder;
    pointer-events: none;
}

.icon_border {
    border: 0.5px solid black;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(168, 164, 164, 0.5);
    margin: 9px 9px;
}

.icon_border :hover {
    transform: scale(1.2);
    transition: ease 0.5s;
    border-radius: 100%;
    background-color: rgb(123, 144, 144);
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-bottom: auto;
}

.social-icons img {
    width: 20px;
    height: 20px;
    padding: 5px 5px;
    margin: 4px 4px;
    color: white;
}

.social-icons i {
    color: white;
    font-size: 3rem;
    padding: 5px 5px;
    margin: 4px 4px;
}

.social-icons i:hover {
    color: rgba(255, 255, 255, 0.500);
}

.panel3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel3 p {
    color: white;
}

@media (max-width:785px) {
    .panel2 {
        flex-direction: column;
    }

    .foot {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;

    }

    .company ul {
        text-align: center;
    }

    .company ul li {
        text-align: center;
    }
}

@media only screen and (max-width: 1100px) {
    body {
        background-color: red;
    }
}

@media(max-width:503px) {
    .arijit-pic img {
        width: 100%;
    }
}
#about{
   color: rgb(147, 140, 140);
   text-decoration: none;
}
#about:hover{
    text-decoration: underline;
    color: white;

}