@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&family=Raleway&family=Ubuntu&family=Varela+Round&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
    margin: 0;
    padding: 0;
}

.content {
    display: none;
}

nav {
    font-family: 'Ubuntu', sans-serif;
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
}

nav ul li {
    padding: 0 8px;
}

.brand img {
    width: 54px;
    padding: 0 8px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.5rem;
}

.container {
    min-height: 71vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 15px auto;
    border-radius: 15px;
    padding: 20px;
    background-image: url(bg.jpg);
}

.bottom {
    position: sticky;
    height: 130px;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icon {
    margin-top: 15px;
}

.icon i {
    cursor: pointer;
}

#myProgressBar {
    width: 80vw;
    cursor: pointer;
}

.songItemContainer {
    margin-top: 10px;
}

.songItem {
    height: 50px;
    display: flex;
    background-color: white;
    color: black;
    margin: 10px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 35px;
}

.songItem img {
    width: 43px;
    margin: 0 10px;
    border-radius: 32px;
}

.timestamp {
    margin: 0 10px;
}

.timestamp i {
    cursor: pointer;
}

.songInfo {
    position: relative;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -3rem;
}

.songInfo img {
    opacity: 0;
    transition: opacity 0.4s ease-in;
    margin-left: 10px;
   
}

@media only screen and (max-width: 768px) {
    .brand {
        font-size: 1rem; 
    }

    .container {
        width: 100%; 
        padding: 15px; 
    }

    .songInfo {
        left: 0;
    }
    
    .songItem {
        height: auto;
    }

    .songItem img {
        width: 30px;
    }
}
@media only screen and (max-width: 320px) {
    nav {
        width: 100%;
        background-color: black;
        color: white;
        margin: 0;
        padding: 0;
    }

    nav ul {
        display: flex;
        align-items: center;
        list-style-type: none;
        height: 65px;
        margin: 0;
        padding: 0;
    }
}

