@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&family=Raleway&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&family=Raleway&family=Ubuntu&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bitter:wght@600&family=Nunito+Sans:opsz,wght@6..12,600&display=swap');

body {
    background-color: rgba(17, 17, 17, 1);
}

* {
    margin: 0;
    padding: 0;
}

nav {
    font-family: 'Ubuntu', sans-serif;
    /* use this to make full navbar curser pointer to use it un-comment it */
    /* cursor: pointer;  */
    width: 100%;

}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}

nav ul li {
    padding: 0 12px;
    /* use this to make li with logo in  navbar curser pointer to use it un-comment it */
    /* cursor: pointer; */
}

nav ul div li {
    /* I use div approch */
    padding: 0 12px;
    cursor: pointer;

}

nav li:last-child {
    margin-left: auto;
}

.brand img {
    width: 54px;
    padding: 0 10px;

}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.5rem;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 300px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.2);
    color: black;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10ox rgba(0, 0, 0, 0, 1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.sidebar li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    width: 100%;
    height: 65px;
    font-weight: bolder;
    font-size: 1.5rem;
    position: relative;
    cursor: pointer;
}

.close-menu {
    justify-content: center !important;
    align-items: flex-end !important;
    position: absolute !important;
    right: 0 !important;
    top: 0 !important;
}


.menu {
    cursor: pointer;
    display: none;
}

#menu-icon {
    color: white;
    font-size: 48px;
}

#menu-icon-close {
    color: white;
    font-size: 48px;
}

.hover_effect:hover {
    color: blue;
    text-decoration: underline;
}

.container {
    min-height: 71vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    width: 70%;
    margin: 25px auto;
    border-radius: 15px;
    padding: 33px;
    background-image: url(bg.jpg);
}

.bottom {
    position: sticky;
    height: 130px;
    background-color: black;
    color: white;
    bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.62);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.1px);
    -webkit-backdrop-filter: blur(8.1px);
    border: 1px solid rgba(0, 0, 0, 0.52);
    width: 90%;
    margin: auto;
}

.icon {
    margin-top: 15px;
}

.icon i {
    cursor: pointer;
}

#myProgressBar {
    width: 80vw;
    cursor: pointer;
    accent-color: #1ed760;

}

#masterSongName {
    padding-left: 10px;
}

.songItemConatiner {
    margin-top: 74px;
}

.songItem {
    height: 50px;
    display: flex;
    background-color: white;
    color: black;
    margin: 13px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 35px;
    cursor: pointer;

}
.songItem.currentSongItem{
    background: rgba(0, 0, 0, 0.62);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.1px);
    -webkit-backdrop-filter: blur(8.1px);
    border: 1px solid rgba(0, 0, 0, 0.52);
    color: #ffffff;
    text-shadow: 0 0 20px #ffffff;
    -webkit-text-stroke-width: thin;
}

.songItem img {
    width: 43px;
    margin: 0 23px 0 5px;
    border-radius: 32px;

}

.timestamp {
    margin: 0 23px;
}

.timestamp i {
    cursor: pointer;
}
.songItemPlay{
    pointer-events: none;
}

.songInfo {
    position: relative;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
    position: relative;

    font-family: 'Varela Round', sans-serif;

}
.songInfo>div{
    display: flex;
    align-items: center;
}

body {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    text-align: center;
    position: relative;
}



.songInfo img {
    opacity: 0;
    transition: opacity 0.4s ease-in;

}

#myProgressBar {
    width: 60%;
}



.arijit-details {
    display: flex;
    /* width: 75%; */
    height: 100%;
    background-color: rgba(17, 17, 17, 1);
    border-radius: 20px;
    justify-content: space-evenly;
    align-items: center;
    /* background-image: url('./covers/a-singh.jpg'); */
    background-size: cover;

}

h1 {
    display: flex;
    flex-direction: column;
    font-family: 'Ubuntu', sans-serif;
    font-size: 3rem;
    color: azure;
    text-decoration: underline;

}

.arijit-about>p {
    color: azure;
    font-size: 1.2rem;
    text-align: left;
    padding: 20px 20px;
    margin: 10px 10px;
}



.arijit-packet {
    width: 500px;
    border-radius: 20px;
}

.arijit-pic>img {
    height: 500px;
    border-radius: 15px;
    margin-right: 20px;
    margin-left: 5px;
}
footer{
    background-color: black;
width: 100%;
}

.panel2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 30px;
    margin-right: 30px;
    gap: 20px;
}

.footer-container {
    display: flex;
    flex-direction: column;
    background-color: black;
    height: 100%;
}

.spt-logo {
    margin-bottom: 10px;
}

.spt-logo>img {
    width: 200px;
    padding: 15px 15px;
    margin-left: 20px;
}

.foot {
    /* height: 40vh; */
    background-color: black;
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 90px;
    margin-bottom: auto;
}

.company {
    margin-bottom: auto;
}

ul {
    list-style: none;
    text-align: left;
}

ul li {
    list-style-type: none;
    cursor: pointer;
    color: rgb(147, 140, 140);
    margin-top: 15px ;
}

ul li:hover {
    color: white;
    text-decoration: underline;
}

.main-head {
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Bitter', serif;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bolder;
    pointer-events: none;
}

.icon_border {
    border: 0.5px solid black;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(168, 164, 164,0.5);
    margin: 9px 9px;
}
.icon_border :hover{
    transform: scale(1.2);
    transition: ease 0.5s;
    border-radius: 100%;
    background-color: rgb(123, 144, 144);
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-bottom: auto;
}

.social-icons img {
    width: 20px;
    height: 20px;
    padding: 5px 5px;
    margin: 4px 4px;
    color: white;
}

.social-icons i {
    color: white;
    font-size: 3rem;
    padding: 5px 5px;
    margin: 4px 4px;
}

.social-icons i:hover {
    color: rgba(255, 255, 255, 0.500);
}
.panel3{
    display: flex;
    justify-content: center;
    align-items: center;
}
.panel3 p{
    color:  white;
}


}
@media only screen and (max-width: 1100px) {
    body {
        background-color: red;
    }
}

@media(max-width:503px) {
    .arijit-pic img {
        width: 100%;
    }
}