#logo{
    height: 50px;
    width: 150px;
}
body{
    /* background: linear-gradient(to right bottom, rgba(17, 88, 17, 0.805),black,black); */
    background: linear-gradient(to right bottom, var(--background-color1),var(--background-color2),var(--background-color3));
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.support{
    display: flex;
    align-items: center;
    justify-content: center;
}
section div{
    margin-top: 40px;
}
section input{
    width: 500px;
    
}

.wrapper {
    position: relative;
    display: flex;
    min-width: 100px;
  }


  .clear-icon {
    position: absolute;
    top: 3px;
    right: 8px;
    width: 10px;
    cursor: pointer;
  
  }

  .search {
    border: 1px solid grey;
    border-radius: 5px;
    height: 20px;
    width: 100%;
    padding: 2px 23px 2px 30px;
    outline: 0;
    background-color: #f5f5f5;
    transition: 1s;
  }

  .search:hover, .search:focus {
    border: 1.5px solid #009688;
    background-color: white;
    transform: scale(1);
  }

input, select, textarea{
    color: #080808;
}
input::placeholder{
    color: rgb(0, 0, 0);
  }
span{
    color: #ffffff;
    text-decoration: underline
}
#img1>div{
margin: 0;

}

#sec3{
    padding: 70px;
    /* color:white; */
    color: var(--primary-color2);
    text-align: center;
    /* background-color: #161515; */
    background-color: var(--background-color5);
}
.b{
    background-color: #18bf34; /* Green */
    border: none;
    border-radius: 10%;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.footer {
    padding: 80px;
    /* background-color: #080808; */
    background-color: var(--background-color6);
}
.footer img{
    margin-left: 100px;
    width: 150px;
}
.footer h2 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}

.footer .col {
    flex-basis: 25%;
    flex-grow: 1;
    margin-bottom: 20px;
}

.footer .col a {
    display: block;
    color: white;
    font-size: 14px;
    font-weight: bolder;
    margin-bottom: 10px;
    text-decoration: none;
}

.footer .col a:hover {
    color: #1ed760;
}

.footer .row {
    align-items: flex-start;
    padding: 10px 0;
}

.footer .lang-btn{
    color: #f6efef;
    background-color: #161515;
    padding: 10px 20px;
    border-radius:  3px;
}
.copyright-txt{
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #f5f5f5;
}
.footer h6{
    color: grey;
}




.faq {
    padding: 10px;
    height: 600px;
    text-align: center;
    font-size: 18px;
    /* color: white; */
    color: var(--primary-color1);
    /* background-color: rgb(42, 41, 41); */
    background-color: var(--background-color4);

}

.accordion {
    margin: 60px auto;
    width: 100%;
    max-width: 700px;
}


.accordion li {
    list-style: none;
    width: 100%;
    padding: 5px;
}

.accordion li label {
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 18px;
    font-weight: 500;
    background-color: #2c2b2b;
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;
}

label::after {
    content: '>';
    font-size: 34px;
    position: absolute;
    right: 20px;
    transition: transform 0.5s;
}
label:hover{
    text-decoration: underline;
}

input[type="radio"] {
    display: none;
}



.accordion input[type="radio"]:checked+label+.content {
    max-height: 600px;
    padding: 30px 20px;
}

::-webkit-scrollbar{
    width: 15px;
  }
  
  ::-webkit-scrollbar-track{
    /* background: linear-gradient(#7ab6e0,#7ab6e0,#7ab6e0,#ffffff, #edbb00 #ffffff,#7ab6e0,#7ab6e0, #7ab6e0); */
    background: linear-gradient(#1ed760,#00ff59,#80c019,rgba(17,17,17,0.8));
    border-radius: -20px;
  }
  
  ::-webkit-scrollbar-thumb{
    background: linear-gradient(#1ed760,#80c019);
    border-radius: 20px;
    border: 2px solid #000;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    margin-bottom: auto;
}

.social-icons img {
    width: 40px;
    height: 40px;
    padding: 5px 5px;
    margin: 4px 4px;
    color: white;
}

.social-icons i {
    color: white;
    font-size: 3rem;
    padding: 5px 5px;
    margin: 4px 4px;
}

.social-icons i:hover {
    color: rgba(255, 255, 255, 0.500);
}

.icon_border {
    border: 0.5px solid black;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(168, 164, 164, 0.5);
    margin: 9px 9px;
}

.icon_border :hover {
    transform: scale(1.2);
    transition: ease 0.5s;
    border-radius: 100%;
}

.border1:hover{
    background-color: #1877F2;
}

.border2:hover {
    background-color: #833AB4;
}

.border3:hover {
    background-color: #1DA1F2;
}

.footer p {
    color: rgb(164, 164, 164);
    margin-top: 15px;
    font-size: 14px;   
}


#icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
  
  #icon:hover {
    transform: scale(1.1);
  }
  .light_dark{
    margin-top: 23px;
  }
  .container{
    color: black;
  }

  :root{
    --background-color1:rgba(17, 88, 17, 0.805);
    --background-color2:black;
    --background-color3:black;
    --background-color4:rgb(42, 41, 41);
    --background-color5:#161515;
    --background-color6:#080808;
    --primary-color1:white;
    --primary-color2:white;
  }

  .dark-theme{
    --background-color1:rgba(57, 56, 56, 0.805);
    --background-color2:rgb(55, 54, 54);
    --background-color3:rgb(110, 104, 104);
    --background-color4:rgb(218, 218, 218);
    --background-color5:white;
    --background-color6:linear-gradient(to right bottom, var(--background-color1),var(--background-color2),var(--background-color3));;
    --primary-color1:black;
    --primary-color2:black;
  }